body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.display {
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calc-button {
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
}