html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 800px; /* Fixed width */
    padding: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}